@import "../../../styles";

::ng-deep {

  .date-range-slider-surround {
    margin-top: 5px;
    font-size: 60%;
    min-height: 1em;
    //border:1px solid red;


    .ng5-slider .ng5-slider-bar {
      background:$lighter-black;
      height: 1px;
    }

    .ng5-slider .ng5-slider-selection {
      background: $blackish;
      height: 1px;
    }

    .ng5-slider-span:focus {
      outline: none !important;
    }

    .ng5-slider-floor {
      display: none;
    }

    .ng5-slider-ceil {
      display: none;
    }

    .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
    }

    .ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 8px;
      top: -4px;
      bottom: 0;
      background-color: $blackish;
      border-radius: 4px;
    }

    .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }


    .slider-date-time {
      .slider-date {
        font-size: 0.7em;
        font-weight: bold;
      }

      .slider-time {
        font-size: 0.6em;
        font-weight: lighter;
      }
    }
  }
}
